body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: rgb(219, 226, 226);
}
.job-history-list a{
    text-decoration: none;
    color: black;
}
.job-history-list a:hover{
    font-weight: bold;
}
.employerprofile-button{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}