body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: rgb(219, 226, 226);
}
.view-post-buttons{
    border: none;
    outline: none;
    height: 50px;
    width: 20%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
}

.view-post-buttons:hover{
    background: white;
    border: 1px solid;
    color: black;
}

.logout-nav-button{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.logout-nav-button:hover{
    color: black;
    background-color: white;  
}
.viewpost-invite-btn{
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.viewpost-invite-btn:hover{
    background-color: white;
    color: black;
}
.viewpost-markjob-btn{
    border: none;
    outline: none;
    height: 50px;
    width: 20%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
}
.viewpost-markjob-btn:hover{
    background-color: white;
    color: black;
}