{{!-- This is the navbar section --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <a class="navbar-brand" href="/home">Freelance</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="/home">Home</a>
      <a class="nav-link" href="/profile/{{user.userName}}">profile</a>
      <a class="nav-link" href="/profile/{{user.userName}}/addPost">create post</a>
    </div>
      <div class="logout-nav-button">
        <a class="nav-link" href="/logout">logOut</a>
      </div>
  </div>
</div>
</nav>
{{!-- ending of navbar section --}}
<div class="container jobsaved-cont">
    <h2>{{post.title}} Job Saved successfully</h2>
    </br>
    </br>
    {{!-- <button onclick="location.href='/home'">Home</button> --}}
    </br>
    </br>
    <button type="button" id = "profile" onclick="location.href='/profile/{{user.userName}}'">Back to Profile</button>
</div>