<h2>{{post.title}} Job Saved successfully</h2>
</br>
</br>
<a href="/home">Home</a>
</br>
</br>
<button type="button" id = "profile" onclick="location.href='/profile/{{user.userName}}'">Profile</button>